.body{
  background-color: #272b33;
  margin: 0;

  font-family: Helvetica,
		'맑은 고딕', 'malgun gothic',
		'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo',
		'Microsoft NeoGothic',
		'Droid sans', sans-serif; 

}

  img{
    max-width: 100%;
    height: auto;
  }

.form{
  display:grid;
  grid-template-columns:180px 1fr;
}
.head_box{
  height: 100px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:1;
  grid-row-end:2;
}
.list_box{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:1;
  grid-row-end:3;
  display:grid;
}
.main_box{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:2;
  grid-row-end:3;
}
  /*헤드 폼 스타일*/
  .head_form{
    background-image: url('../img/back_paimon.webp');
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: 95% 0%;
  }

  .head_button{
    width: 100%;
    height: 100px;
    text-align: left;
    background-color: transparent;
    border-color: transparent;
  }

  .head_button_txt{
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
    color : #ffffff;
  }

  /*리스트 폼 스타일*/
  .list_form{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px repeat(5,70px);
    background-color: #21252b;
  }

  .list_icon{
    width:100%;
    height:auto;
    object-fit: contain;
    margin-top: 2px;
  }

  .list_button{
    margin-left: 5px;
    width: 90%;
    height: 40px;
    object-fit: contain;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-row: 30px;
    background-color: transparent;
    border-radius: 10px;
    border-color: transparent;
  }

  .list_button:hover{
    background-color: #537a90;
  }

  .list_button_txt{
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color : #ffffff;
  }

  /*---------------------------------------*/
  @media(max-width : 1000px){
  /* 전체 폼 스타일 */
  .form{
    display:grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0px 100px 1fr;
  }
  .head_box{
    border:5px solid pink;
    display: none;

  }
  .list_box{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .main_box{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

  }

    /*리스트 폼 스타일*/
    .list_form{
      display:grid;
      grid-template-columns: 0px repeat(5,1fr);
      grid-template-rows: 100px;
      margin-top: 0px;
    }

    .list_icon{
      width:100%;
      height: 100%;
      object-fit: contain;
      margin-bottom: 5px;
    }

    .list_button{
      width:100%;
      height: 100%;
      margin-left: 0px;
      margin-top: 0px;
      display: block;
    }

    .list_button_txt{
      display: none;
      margin-top: 10px;
      font-size: 12px;
      font-weight: bold;
    }
}
