
/*--------------------------------------------------*/

    #index_button{
      background-color: #537a90;
    }

    /* 메인 폼 스타일 */
    .main_form{
      display: grid;
      grid-template-columns: 67% 33%;
    }

    .index_wish_box{
      display: grid;
      margin: 15px;
      border-radius: 10px;
      background-color: #2d3440;
    }

    .index_wish_box.char{

    }

    .index_wish_box.txt{
      white-space: nowrap;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      color: #ffffff;
      font-size: 35px;
      font-weight: bold;
      margin-left: 5%;
    }

    .index_wish_time{
      white-space: nowrap;
      background-color: #537a90;
      border-radius: 30px;
      font-size: 22px;
      justify-self: end;
      align-self: end;
      margin: 5px;
    }

    .index_wish_img{
      max-width: 100%;
      height: auto;
      margin: 15px;
    }

    .index_wish_box.weapon{
    }

    .index_info_box{
      display: grid;
      margin: 15px;
      border-radius: 10px;
      background-color: #2d3440;
      grid-template-rows: 7% repeat(3,1fr);
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    .index_info_box_txt{
      white-space: nowrap;
      display: grid;
      margin: 15px;
      grid-template-columns: 1fr;

      color: #ffffff;
      font-size: 35px;
      font-weight: bold;
      margin-left: 5%;
    }

    .index_info_box_item{
      display: grid;
      margin: 15px;
      border-radius: 10px;
      background-color: #272b33;
      grid-template-rows: 60px 1fr;
    }

    .index_info_box_item.txt{
      height: 60%;
      background-color :transparent;
      border-bottom: 2px solid #2d3440;
      border-radius: 0px;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 22px;
      color: #ffffff;
      font-weight: bold;
    }

    .index_info_box_item.img{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: 50% 50%;
    }

    .index_info_box_item_img{
      width: 100%;
    }


    img{
      width: 100%;
      height: auto;
      border-radius: 15px;
    }


/*---------------------------------------*/
@media(max-width : 1000px){

  /* 메인 폼 스타일 */
  .main_form{
    display: grid;
  }

  .index_wish_box{
    display: grid;
    grid-template-columns: 1fr;
    margin: 15px;
  }

}
