/*--------------------------------------------------*/
  /* 전체 폼 스타일 */
  .body{
    background-color: #272b33;
  }

  .form{
    border:2px solid pink;
    display:grid;
    grid-template-columns:180px 1fr;
  }
  .head_box{
          border:2px solid pink;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:2;
  }
  .list_box{
          border:2px solid pink;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end:3;
    display:grid;
  }
  .main_box{
          border:2px solid pink;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
  }
    /*헤드 폼 스타일*/
    .head_form{
      background-image: url('../img/back_paimon.webp');
      background-size: 15%;
      background-repeat: no-repeat;
      background-position: 95% 0%;
    }

    .head_button{
      width: 100%;
      height: 100px;
      text-align: left;
      background-color: transparent;
    }

    .head_button_txt{
      margin-left: 100px;
      font-size: 30px;
      font-weight: bold;
      color : #ffffff;
    }

    /*리스트 폼 스타일*/
    .list_form{
      border:2px solid gray;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 80px repeat(5,70px);
      background-color: #21252b;
    }

    .list_icon{
      width:40px;
      height:40px;
      object-fit: contain;
      margin-bottom: 5px;
    }

    .list_button{
      margin-left: 5px;
      margin-top: 10px;
      width: 90%;
      height: 40px;
      object-fit: contain;
      display: grid;
      grid-template-columns: 30px 1fr;
      grid-row: 30px;
      background-color: transparent;
    }

    .list_button_txt{
      margin-top: 10px;
      font-size: 15px;
      font-weight: bold;
      color : #ffffff;
    }

    /* 메인 폼 스타일 */
    .main_form{
      display: grid;
      margin-left:  5%;
    }

    .info_promote_icon{
      width: 100%;
      height: auto;
    }

    .info_promote_char_exp_box1{
      display: grid;
      grid-template-columns: 20% 20% 60%;
      margin-top: 40px;
    }

    .info_promote_char_exp_table{
      font-size: 50px;
      color: #ffffff;
      margin: 20px;
      margin-left: 15%;
    }

    .info_promote_char_exp_box2{
      width: 100%;
      display: grid;
      margin-left: 50px;
      grid-template-columns: 100px 1fr;
      grid-auto-rows: 10px;
    }

    .info_promote_char_exp_box_txt{
      color:#ffffff;
      font-size: 15px;
      margin-top: 20px;
      margin-left: 40px;
    }

    .info_promote_char_exp_slider_box{
      position: relative;
    }

    .info_promote_char_exp_slider{
      -webkit-appearance: none;
      position: absolute;
      opacity: 0%;
      height: 15px;
      width:82%;
      pointer-events: none;
      z-index: 2;

    }

    .info_promote_char_exp_slider1{
      -webkit-appearance: none;
      position: absolute;
      opacity: 0%;
      height: 15px;
      width:82%;
      pointer-events: none;
      z-index: 2;
    }

    .info_promote_char_exp_slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      pointer-events: all;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #04AA6D;
    }

    .info_promote_char_exp_slider1::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      pointer-events: all;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #04AA6D;
    }

    .info_promote_char_exp_slider_datalist{
      display:grid;
      grid-template-columns: repeat(9,1fr);
      color:#ffffff;
      font-weight: bold;
      margin-top: 30px;
      margin-left: 20px;
      margin-bottom: 20px;
      z-index: 1;
    }

    .info_promote_char_exp_slider_track{
      opacity: 100%;
      position: relative;
      margin-left: 2.5%;
      width: 78%;
      height: 0.5rem;
      background-color: #bdc3c7;
      border-radius: 0.5rem;
      margin-top: 5px;
      z-index: 1;
    }

    .info_promote_char_exp_slider_range{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #0075ff;
      border-radius: 0.5rem;
    }

    .info_promote_char_exp_slider_thumb {
      position: absolute;
      top: 0;
      transform: translateY(-0.25rem);
      width: 1rem;
      height: 1rem;
      background-color: #2850ad;
      border-radius: 0.5rem;
    }

    #num2{
      right:0;
    }


    .info_promote_weapon_exp_box1{
      display: grid;
      grid-template-columns: 20% 20% 60%;
      margin-top: 80px;
    }

    .info_promote_weapon_exp_button_set{
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 30%;

    }

    .info_promote_weapon_exp_table{
      font-size: 50px;
      color: #ffffff;
      margin: 20px;
      margin-left: 15%;
    }

    .info_promote_weapon_exp_box2{
      width: 100%;
      display: grid;
      margin-left: 50px;
      grid-template-columns: 100px 1fr;
      grid-auto-rows: 10px;
    }

    .info_promote_weapon_exp_box_txt{
      color:#ffffff;
      font-size: 15px;
      margin-top: 20px;
      margin-left: 40px;
    }

    .info_promote_weapon_exp_slider_box{
      position: relative;
    }

    .info_promote_weapon_exp_slider{
      -webkit-appearance: none;
      position: absolute;
      opacity: 0%;
      height: 15px;
      width:82%;
      pointer-events: none;
      z-index: 2;

    }

    .info_promote_weapon_exp_slider1{
      -webkit-appearance: none;
      position: absolute;
      opacity: 0%;
      height: 15px;
      width:82%;
      pointer-events: none;
      z-index: 2;
    }

    .info_promote_weapon_exp_slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      pointer-events: all;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #04AA6D;
    }

    .info_promote_weapon_exp_slider1::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      pointer-events: all;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background: #04AA6D;
    }

    .info_promote_weapon_exp_slider_datalist{
      display:grid;
      grid-template-columns: repeat(9,1fr);
      color:#ffffff;
      font-weight: bold;
      margin-top: 30px;
      margin-left: 20px;
      margin-bottom: 20px;
      z-index: 1;
    }

    .info_promote_weapon_exp_slider_track{
      opacity: 100%;
      position: relative;
      margin-left: 2.5%;
      width: 78%;
      height: 0.5rem;
      background-color: #bdc3c7;
      border-radius: 0.5rem;
      margin-top: 5px;
      z-index: 1;
    }

    .info_promote_weapon_exp_slider_range{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #0075ff;
      border-radius: 0.5rem;
    }

    .info_promote_weapon_exp_slider_thumb {
      position: absolute;
      top: 0;
      transform: translateY(-0.25rem);
      width: 1rem;
      height: 1rem;
      background-color: #2850ad;
      border-radius: 0.5rem;
    }

    #weapon_num2{
      right:0;
    }


    .image{
      margin: 100px;
    }
/*---------------------------------------*/
@media(max-width : 1000px){
/* 전체 폼 스타일 */
.form{
  border:2px solid pink;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0px 100px 1fr;
}
.head_box{
  border:5px solid pink;
  display: none;

}
.list_box{
  border:2px solid pink;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.main_box{
  border:2px solid pink;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;

}

  /*리스트 폼 스타일*/
  .list_form{
    border:2px solid gray;
    display:grid;
    grid-template-columns: 0px repeat(5,1fr);
    grid-template-rows: 100px;
    margin-top: 0px;
  }

  .list_icon{
    object-fit: contain;
    margin-bottom: 5px;
  }

  .list_button{
    width:100%;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    object-fit: contain;
    display: block;
  }

  .list_button_txt{
    display: none;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  /* 메인 폼 스타일 */
  .main_form{
  }

}
